body{
    background-color: #F8FAE5;
}
.title{
    color: #43766C;
}
#aboutme{
    background-color: #B19470;
}
#education{
    background-color: #B19470;
}
#workexperience{
    background-color: #B19470;
}
#skills{
    background-color: #B19470;
}
#awardandcert{
    background-color: #B19470;
}
